.footer {
  text-align: center;
  background-color: rgba(32, 93, 103, .9);
  color: rgba(255, 255, 255, .675);
  padding: 4em;
}

.footer a {
  color: rgba(255, 255, 255, .9);
}

.footer .icon, .footer a:hover {
  color: white;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  margin-bottom: 4em;
}

@media (max-width: 580px) {
  .contacts {
    flex-direction: column;
    gap: 2em;
  }

  .footer {
    padding: 2em;
    font-size: small;
  }
}
