.carousel {
  margin: 3em 0;
  width: 600px;
}

.image {
  border-radius: 5px;
  filter: grayscale(75%);
  transition: filter linear 1.25s;
  object-fit: cover;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.image:hover {
  filter: grayscale(0%);
}

.image:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

@media (max-width: 800px) {
  .carousel {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 350px;
  }
}

@media (max-width: 375px) {
  .carousel {
    width: 275px;
  }
}
