.test_section {
  display: grid;
  gap: 2em;
  margin-top: 2em;
}

.test_actions_section {
  margin-top: 2em; 
}

.results_section {
  display: grid;
  place-items: center;
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 500px) {
  .title {
    font-size: medium !important;
  }

  .results_section {
    margin-top: 1em;
  }
}
