.question_text {
  font-weight: bold !important;
  color: var(--secondary-color);
}

.answers_section {
  display: flex;
  justify-content: space-between;
}

.answer_image {
  width: 300px;
  height: auto;
  max-height: 250px;
  margin-right: 3em;
}

.suptext_wrapper {
  display: flex;
  gap: .5em;
}

.suptext {
  font-style: italic;
  margin-bottom: .5em !important;
}

.subtext {
  white-space: pre-wrap;
  margin: .5em 0 !important;
}

@media (max-width: 1000px) {
  .answer_image {
    width: 200px;
    max-height: 150px;
  }
}

@media (max-width: 500px) {
  .answers_section {
    flex-direction: column-reverse;
  }
}
