.header {
  padding: 1em 2em;
}

.header a, .header button {
  color: white;
}

.logo_wrapper {
  margin-right: auto;
}

.nav {
  display: flex;
  gap: 2em;
  margin-right: 2em;
}

.menu_button {
  display: none !important;
}

@media (max-width: 1140px) {
  .menu_button{
    display: block !important;
  }

  .nav {
    flex-direction: column;
    align-items: start;
    position: absolute;
  }

  .nav a {
    color: transparent;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 1em 0em;
  }
}
